<?xml version="1.0" encoding="UTF-8"?>
<config xmlns="http://www.knime.org/2008/09/XMLConfig" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.knime.org/2008/09/XMLConfig http://www.knime.org/XMLConfig_2008_09.xsd" key="settings.xml">
    <entry key="node_file" type="xstring" value="settings.xml"/>
    <config key="flow_stack"/>
    <config key="internal_node_subsettings">
        <entry key="memory_policy" type="xstring" value="CacheSmallInMemory"/>
    </config>
    <config key="model">
        <entry key="smtpHost" type="xstring" value="smtp.gmail.com"/>
        <entry key="smtpPort" type="xint" value="587"/>
        <entry key="useAuthentication" type="xboolean" value="true"/>
        <entry key="useCredentials" type="xboolean" value="false"/>
        <entry key="credentialsId" type="xstring" value=""/>
        <entry key="smtpUser" type="xstring" value="andrefftrash@gmail.com"/>
        <entry key="smtpPasswordWeaklyEncrypted" type="xpassword" value="02EwAAAGMq_QxveL1vZ0EBj18rDasxu2W70fh5wUEO_7dAN-H5Sp9L"/>
        <entry key="connectionSecurity" type="xstring" value="STARTTLS"/>
        <entry key="emailFormat" type="xstring" value="Text"/>
        <entry key="emailPriority" type="xstring" value="Normal"/>
        <entry key="from" type="xstring" value="andrefftrash@gmail.com"/>
        <entry key="to" type="xstring" value="andrefftrash@gmail.com"/>
        <entry key="cc" type="xstring" value=""/>
        <entry key="bcc" type="xstring" value=""/>
        <entry key="replyTo" type="xstring" value=""/>
        <entry key="subject" type="xstring" value="NewStockRegistration"/>
        <entry key="text" type="xstring" value="O stock foi atualizado com sucesso e o arquivo CSV já está pronto para importação no Eticadata."/>
        <config key="attachedURLs">
            <entry key="array-size" type="xint" value="1"/>
            <entry key="0" type="xstring" value="file:/C:%5CUsers%5CAndr%C3%A9%5CDesktop%5CUniversidade%5C3Ano%5C1Semestre%5CIntegracaoSistemasInformacao%5CProjetos%5CP1%5CKNIME%5CISI_P1_25975%5CData%5CIN%5CNewArticle.csv"/>
        </config>
        <entry key="smtpConnectionTimeout" type="xint" value="2000"/>
        <entry key="smtpReadTimeout" type="xint" value="30000"/>
    </config>
    <entry key="customDescription" type="xstring" isnull="true" value=""/>
    <entry key="state" type="xstring" value="EXECUTED"/>
    <entry key="factory" type="xstring" value="org.knime.base.node.util.sendmail.SendMailNodeFactory"/>
    <entry key="node-name" type="xstring" value="Send Email"/>
    <entry key="node-bundle-name" type="xstring" value="KNIME Base Nodes"/>
    <entry key="node-bundle-symbolic-name" type="xstring" value="org.knime.base"/>
    <entry key="node-bundle-vendor" type="xstring" value="KNIME AG, Zurich, Switzerland"/>
    <entry key="node-bundle-version" type="xstring" value="5.3.2.v202409100934"/>
    <entry key="node-feature-name" type="xstring" value="KNIME Base nodes"/>
    <entry key="node-feature-symbolic-name" type="xstring" value="org.knime.features.base.feature.group"/>
    <entry key="node-feature-vendor" type="xstring" value="KNIME AG, Zurich, Switzerland"/>
    <entry key="node-feature-version" type="xstring" value="5.3.2.v202409100934"/>
    <config key="factory_settings"/>
    <entry key="name" type="xstring" value="Send Email"/>
    <entry key="hasContent" type="xboolean" value="true"/>
    <entry key="isInactive" type="xboolean" value="false"/>
    <config key="ports"/>
    <config key="filestores">
        <entry key="file_store_location" type="xstring" isnull="true" value=""/>
        <entry key="file_store_id" type="xstring" value="33ee1ecb-4d5c-4c03-88d0-2b409aabb86d"/>
    </config>
</config>
